<%- contentFor('css') %>

<title>FletsPanel</title>

<%- contentFor('js') %>

<script>

	document.addEventListener('DOMContentLoaded', function () {
		setTimeout(function(){
			location.href = location.href
		},60000)
	})

</script>

<%- contentFor('content') %>

<% include ./header %>

<h3></h3>
<div class="columns">
	<a href="/panel/preferencias" class="column has-background-info">
		<h5 class="has-text-white">Preferencias</h5>
		<h1 class="has-text-white is-size-1 has-text-centered"><%= preferences %></h1>
	</a>
	<a href="/panel/flets" class="column has-background-success">
		<h5 class="has-text-white">Flets</h5>
		<h1 class="has-text-white is-size-1 has-text-centered"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-warning">
		<h5 class="has-text-white">Pagos</h5>
		<h1 class="has-text-white is-size-1 has-text-centered"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-danger">
		<h5 class="has-text-white">Rechazados</h5>
		<h1 class="has-text-white is-size-1 has-text-centered"><%= rejected %></h1>
	</a>
</div>

<p>Actualiza automáticamente cada 1 minuto</p>
