<%- contentFor('css') %>

<title>Flets</title>

<%- contentFor('js') %>

<%- contentFor('content') %>

<% include ./header %>

<h3></h3>
<div class="columns">
	<a href="/panel/preferencias" class="column has-background-info">
		<h2 class="has-text-white">Preferencias</h2>
		<h1 class="has-text-white"><%= total %></h1>
	</a>
	<a href="/panel/flets" class="column has-background-success">
		<h2 class="has-text-white">Flets</h2>
		<h1 class="has-text-white"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-warning">
		<h2 class="has-text-white">Pagos</h2>
		<h1 class="has-text-white"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-danger">
		<h2 class="has-text-white">Rechazados</h2>
		<h1 class="has-text-white"><%= rejected %></h1>
	</a>
</div>
