<%- contentFor('css') %>

<title>FletsPanel</title>

<%- contentFor('js') %>

<%- contentFor('content') %>

<% include ./header %>

<h3></h3>
<div class="columns">
	<a href="/panel/preferencias" class="column has-background-info">
		<h4 class="has-text-white">Preferencias</h4>
		<h1 class="has-text-white is-size-1"><%= total %></h1>
	</a>
	<a href="/panel/flets" class="column has-background-success">
		<h4 class="has-text-white">Flets</h4>
		<h1 class="has-text-white is-size-1"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-warning">
		<h4 class="has-text-white">Pagos</h4>
		<h1 class="has-text-white is-size-1"><%= approved %></h1>
	</a>
	<a href="/panel/pagos" class="column has-background-danger">
		<h4 class="has-text-white">Rechazados</h4>
		<h1 class="has-text-white is-size-1"><%= rejected %></h1>
	</a>
</div>
