<%- contentFor('css') %>

<title>Preferencias</title>

<%- contentFor('js') %>

<%- contentFor('content') %>

<% include ./header %>

<h2>Preferencias</h2>

<% if(!data.length){ %>

<h6>No hay preferencias todavía. Esperemos un poco mas!</h6>

<% }else{ %>

<div class="columns is-multiline">
    <% data.forEach(function(flet) { %>
	<div class="column has-background-success">
		<span class="has-text-white is-size-3"><%= flet.datos.nombre %></span><br>
		<span class="has-text-white is-size-6"><%= flet.datos.telefono %></span><br>
		<span class="has-text-white is-size-4"><%= flet.estimate.amount %> <%= flet.estimate.currency %></span><br>
		<span class="has-text-white is-size-6"><%= flet.ruta.from.formatted_address %></span>
		<span class="fas fa-hand-point-right"></span>
		<span class="has-text-white is-size-6"><%= flet.ruta.to.formatted_address %></span><br>
		<span class="has-text-white is-size-4"><%= flet.ruta.distance.text %></span>
		<span class="has-text-white is-size-4"><%= flet.ruta.duration.text %></span>
		<span class="has-text-warning is-size-5"><%= flet.ruta.payment_status %></span>
	</div>
    <% }); %>
</div>

<% } %>
